html{
  height: 100%;
}
body{
  width: 500px;
  padding: 20px;
  overflow: visible;
  height:1000px;
}
.timer{
  text-align: center;
  font-size: 35px;
  padding: 15px 0px;
}
input.datepicker{
  display: inline-block !important;
  width: 80px !important;
  font-size: 12px !important;
  margin: 0;
  margin-left: 10px !important;
  padding: 0;
  border-bottom: none !important;
}